In [1]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
connection_string = "mongodb+srv://root:root@atlascluster.6wofjtc.mongodb.net/?retryWrites=true&w=majority&appName=AtlasCluster"
client = MongoClient(connection_string, serverSelectionTimeoutMS=20000)
db = client.sample_airbnb
col = db.listingsAndReviews

In [3]:
rel_data = []
for i in col.find():
    data = dict(Id = i['_id'],
                Listing_url = i['listing_url'],
                Name = i.get('name'),
                Description = i['description'],
                House_rules = i.get('house_rules'),
                Property_type = i['property_type'],
                Room_type = i['room_type'],
                Bed_type = i['bed_type'],
                Min_nights = int(i['minimum_nights']),
                Max_nights = int(i['maximum_nights']),
                Cancellation_policy = i['cancellation_policy'],
                Accomodates = i['accommodates'],
                Total_bedrooms = i.get('bedrooms'),
                Total_beds = i.get('beds'),
                Availability_365 = i['availability']['availability_365'],
                Price = i['price'],
                Security_deposit = i.get('security_deposit'),
                Cleaning_fee = i.get('cleaning_fee'),
                Extra_people = i['extra_people'],
                Guests_included= i['guests_included'],
                No_of_reviews = i['number_of_reviews'],
                Review_scores = i['review_scores'].get('review_scores_rating'),
                Amenities = ', '.join(i['amenities']),
                Host_id = i['host']['host_id'],
                Host_name = i['host']['host_name'],
                Street = i['address']['street'],
                Country = i['address']['country'],
                Country_code = i['address']['country_code'],
                Location_type = i['address']['location']['type'],
                Longitude = i['address']['location']['coordinates'][0],
                Latitude = i['address']['location']['coordinates'][1],
                Is_location_exact = i['address']['location']['is_location_exact']
    )
    rel_data.append(data)

In [4]:
df = pd.DataFrame(rel_data)
df

,Id,Listing_url,Name,Description,House_rules,Property_type,Room_type,Bed_type,Min_nights,Max_nights,...,Amenities,Host_id,Host_name,Street,Country,Country_code,Location_type,Longitude,Latitude,Is_location_exact
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Make the house your home...,House,Entire home/apt,Real Bed,2,30,...,"TV, Cable TV, Wifi, Kitchen, Paid parking off ...",51399391,Ana&Gonçalo,"Porto, Porto, Portugal",Portugal,PT,Point,-8.613080,41.141300,False
1,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,"Murphy bed, optional second bedroom available....",No smoking is permitted in the apartment. All ...,Apartment,Private room,Real Bed,12,360,...,"Internet, Wifi, Air conditioning, Kitchen, Ele...",454250,Greta,"New York, NY, United States",United States,US,Point,-73.965230,40.799620,False
2,10069642,https://www.airbnb.com/rooms/10069642,Ótimo Apto proximo Parque Olimpico,Apartamento próximo ao centro dos Jogos Olímpi...,,Apartment,Entire home/apt,Real Bed,15,20,...,"TV, Cable TV, Internet, Wifi, Air conditioning...",51670240,Jonathan,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-43.431112,-23.000358,False
3,10083468,https://www.airbnb.com/rooms/10083468,Be Happy in Porto,Be Happy Apartment is an amazing space. Renova...,. No smoking inside the apartment. . Is forbid...,Loft,Entire home/apt,Real Bed,2,1125,...,"TV, Cable TV, Wifi, Kitchen, Smoking allowed, ...",27518920,Fábio,"Porto, Porto, Portugal",Portugal,PT,Point,-8.611230,41.152250,False
4,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,Fully furnished 3+1 flat decorated with vintag...,"Be and feel like your own home, with total res...",House,Entire home/apt,Real Bed,2,1125,...,"TV, Cable TV, Internet, Wifi, Kitchen, Free pa...",1241644,Zeynep,"Kadıköy, İstanbul, Turkey",Turkey,TR,Point,29.031330,40.985850,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9848595,https://www.airbnb.com/rooms/9848595,Perfect 2 bed in fabulous Fairlight,Our beautiful 2 bedroom apartment is perfectly...,No smoking or pets.,Apartment,Entire home/apt,Real Bed,14,1125,...,"TV, Wifi, Kitchen, Free street parking, Family...",13511304,Charles,"Fairlight, NSW, Australia",Australia,AU,Point,151.277090,-33.793080,False
5551,9848837,https://www.airbnb.com/rooms/9848837,Manly Beach House,Metres from the golden sands of Manly's iconic...,All neighbours are lovely and friendly so plea...,House,Entire home/apt,Real Bed,3,1125,...,"TV, Cable TV, Internet, Air conditioning, Whee...",24563792,Brigitte,"Manly, NSW, Australia",Australia,AU,Point,151.285000,-33.792260,True
5552,9849915,https://www.airbnb.com/rooms/9849915,Magnificient Beach View,Access to one of the best beaches in the world...,,Apartment,Private room,Real Bed,2,15,...,"TV, Internet, Wifi, Kitchen, Washer, Dryer, Sm...",12337597,Valentine,"North Bondi, NSW, Australia",Australia,AU,Point,151.284220,-33.893340,False
5553,9944044,https://www.airbnb.com/rooms/9944044,Sanctuary Bundeena,"Relax and revitalise in our spacious, self-con...",,Bed and breakfast,Private room,Real Bed,2,1125,...,"TV, Internet, Wifi, Kitchen, Free parking on p...",51104303,Sara And Scott,"Bundeena, NSW, Australia",Australia,AU,Point,151.152710,-34.088290,True
5554,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,,House,Entire home/apt,Real Bed,1,1125,...,"TV, Cable TV, Internet, Wifi, Kitchen, Buzzer/...",51303748,Eren,"Kadıköy, İstanbul, Turkey",Turkey,TR,Point,29.030790,40.985630,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   5555 non-null   object
 1   Listing_url          5555 non-null   object
 2   Name                 5555 non-null   object
 3   Description          5555 non-null   object
 4   House_rules          5555 non-null   object
 5   Property_type        5555 non-null   object
 6   Room_type            5555 non-null   object
 7   Bed_type             5555 non-null   object
 8   Min_nights           5555 non-null   int64
 9   Max_nights           5555 non-null   int64
 10  Cancellation_policy  5555 non-null   object
 11  Accomodates          5555 non-null   int64
 12  Total_bedrooms       5550 non-null   float64
 13  Total_beds           5542 non-null   float64
 14  Availability_365     5555 non-null   int64
 15  Price                5555 non-null   object
 16  Security_deposit     3471 non-null   object
 17  Cleaning_fee         4024 non-null   object
 18  Extra_people         5555 non-null   object
 19  Guests_included      5555 non-null   object
 20  No_of_reviews        5555 non-null   int64
 21  Review_scores        4081 non-null   float64
 22  Amenities            5555 non-null   object
 23  Host_id              5555 non-null   object
 24  Host_name            5555 non-null   object
 25  Street               5555 non-null   object
 26  Country              5555 non-null   object
 27  Country_code         5555 non-null   object
 28  Location_type        5555 non-null   object
 29  Longitude            5555 non-null   float64
 30  Latitude             5555 non-null   float64
 31  Is_location_exact    5555 non-null   bool
dtypes: bool(1), float64(5), int64(5), object(21)
memory usage: 1.3+ MB

In [6]:
#COnverting the datatypes
df.Price = df.Price.astype(str).astype(float)
df.Security_deposit = df.Security_deposit[~df.Security_deposit.isna()].astype(str).astype(float)
df.Cleaning_fee = df.Cleaning_fee[~df.Cleaning_fee.isna()].astype(str).astype(float)
df.Extra_people = df.Extra_people.astype(str).astype(float)
df.Guests_included = df.Guests_included.astype(str).astype(float)
df.Review_scores = df.Review_scores.astype(float)

In [7]:
df.isna().sum()

Id                        0
Listing_url               0
Name                      0
Description               0
House_rules               0
Property_type             0
Room_type                 0
Bed_type                  0
Min_nights                0
Max_nights                0
Cancellation_policy       0
Accomodates               0
Total_bedrooms            5
Total_beds               13
Availability_365          0
Price                     0
Security_deposit       2084
Cleaning_fee           1531
Extra_people              0
Guests_included           0
No_of_reviews             0
Review_scores          1474
Amenities                 0
Host_id                   0
Host_name                 0
Street                    0
Country                   0
Country_code              0
Location_type             0
Longitude                 0
Latitude                  0
Is_location_exact         0
dtype: int64

In [8]:
# Filling Total bedrooms with mode
df.Total_bedrooms.fillna(df.Total_bedrooms.mode()[0],inplace=True)
# Filling Total beds with median
df.Total_beds.fillna(df.Total_beds.median(),inplace=True)
df.Security_deposit.fillna(df.Security_deposit.median(),inplace=True)
df.Cleaning_fee.fillna(df.Cleaning_fee.median(),inplace=True)
df.Review_scores.fillna(df.Review_scores.median(),inplace=True)

C:\Users\91916\AppData\Local\Temp\ipykernel_18932\2585152909.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Total_bedrooms.fillna(df.Total_bedrooms.mode()[0],inplace=True)
C:\Users\91916\AppData\Local\Temp\ipykernel_18932\2585152909.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Total_beds.fillna(df.Total_beds.median(),inplace=True)
C:\Users\91916\AppData\Local\Temp\ipykernel_18932\2585152909.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Security_deposit.fillna(df.Security_deposit.median(),inplace=True)
C:\Users\91916\AppData\Local\Temp\ipykernel_18932\2585152909.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Cleaning_fee.fillna(df.Cleaning_fee.median(),inplace=True)
C:\Users\91916\AppData\Local\Temp\ipykernel_18932\2585152909.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Review_scores.fillna(df.Review_scores.median(),inplace=True)

In [9]:
# Filling Empty values in Description and House rules columns
df.Description.replace(to_replace='',value='No Description Provided',inplace=True)
df.House_rules.replace(to_replace='',value='No House rules Provided',inplace=True)
df.Amenities.replace(to_replace='',value='Not Available',inplace=True)

C:\Users\91916\AppData\Local\Temp\ipykernel_18932\419996349.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Description.replace(to_replace='',value='No Description Provided',inplace=True)
C:\Users\91916\AppData\Local\Temp\ipykernel_18932\419996349.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.House_rules.replace(to_replace='',value='No House rules Provided',inplace=True)
C:\Users\91916\AppData\Local\Temp\ipykernel_18932\419996349.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Amenities.replace(to_replace='',value='Not Available',inplace=True)

In [10]:
df.isna().sum()

Id                     0
Listing_url            0
Name                   0
Description            0
House_rules            0
Property_type          0
Room_type              0
Bed_type               0
Min_nights             0
Max_nights             0
Cancellation_policy    0
Accomodates            0
Total_bedrooms         0
Total_beds             0
Availability_365       0
Price                  0
Security_deposit       0
Cleaning_fee           0
Extra_people           0
Guests_included        0
No_of_reviews          0
Review_scores          0
Amenities              0
Host_id                0
Host_name              0
Street                 0
Country                0
Country_code           0
Location_type          0
Longitude              0
Latitude               0
Is_location_exact      0
dtype: int64

In [11]:
# Checking Duplicate records
df[df.duplicated()]

Empty DataFrame
Columns: [Id, Listing_url, Name, Description, House_rules, Property_type, Room_type, Bed_type, Min_nights, Max_nights, Cancellation_policy, Accomodates, Total_bedrooms, Total_beds, Availability_365, Price, Security_deposit, Cleaning_fee, Extra_people, Guests_included, No_of_reviews, Review_scores, Amenities, Host_id, Host_name, Street, Country, Country_code, Location_type, Longitude, Latitude, Is_location_exact]
Index: []

[0 rows x 32 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   5555 non-null   object
 1   Listing_url          5555 non-null   object
 2   Name                 5555 non-null   object
 3   Description          5555 non-null   object
 4   House_rules          5555 non-null   object
 5   Property_type        5555 non-null   object
 6   Room_type            5555 non-null   object
 7   Bed_type             5555 non-null   object
 8   Min_nights           5555 non-null   int64
 9   Max_nights           5555 non-null   int64
 10  Cancellation_policy  5555 non-null   object
 11  Accomodates          5555 non-null   int64
 12  Total_bedrooms       5555 non-null   float64
 13  Total_beds           5555 non-null   float64
 14  Availability_365     5555 non-null   int64
 15  Price                5555 non-null   float64
 16  Security_deposit     5555 non-null   float64
 17  Cleaning_fee         5555 non-null   float64
 18  Extra_people         5555 non-null   float64
 19  Guests_included      5555 non-null   float64
 20  No_of_reviews        5555 non-null   int64
 21  Review_scores        5555 non-null   float64
 22  Amenities            5555 non-null   object
 23  Host_id              5555 non-null   object
 24  Host_name            5555 non-null   object
 25  Street               5555 non-null   object
 26  Country              5555 non-null   object
 27  Country_code         5555 non-null   object
 28  Location_type        5555 non-null   object
 29  Longitude            5555 non-null   float64
 30  Latitude             5555 non-null   float64
 31  Is_location_exact    5555 non-null   bool
dtypes: bool(1), float64(10), int64(5), object(16)
memory usage: 1.3+ MB

In [13]:
df.isna().sum()

Id                     0
Listing_url            0
Name                   0
Description            0
House_rules            0
Property_type          0
Room_type              0
Bed_type               0
Min_nights             0
Max_nights             0
Cancellation_policy    0
Accomodates            0
Total_bedrooms         0
Total_beds             0
Availability_365       0
Price                  0
Security_deposit       0
Cleaning_fee           0
Extra_people           0
Guests_included        0
No_of_reviews          0
Review_scores          0
Amenities              0
Host_id                0
Host_name              0
Street                 0
Country                0
Country_code           0
Location_type          0
Longitude              0
Latitude               0
Is_location_exact      0
dtype: int64

In [ ]:
# Converting dataframe to csv file and saving it
df.to_csv('Airbnb_data.csv',index=False)